/*.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(emv2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%); 
  }
}

.error {
  color: orange;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.login-form {
  text-align: center;
  color: greenyellow;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  filter: brightness(80%); 
}

.input-container {
  margin-bottom: 10px; 
}

.button {
  border: none;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: greenyellow;
  -webkit-text-stroke-width: 0.0px;
  -webkit-text-stroke-color: black;
}

.input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border: 2px solid white;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Home,
.Introduction,
.Help,
.Marcos,
.Participation,
.Statistics,
.AccountSetting {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
}
